<div class="navbar fixed-bottom"></div>
<footer class="footer mt-auto py-3 bg-light">
  <div class="row justify-content-center">
    <%= image_tag ("mockup/ok_fonden_logo.png"), class: "img-responsive d-block rounded", style:"height:50px;width:500px;"%>
  </div>
</footer>
</div>